/* FONTS */
@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lobsterregular';
  src: url('/fonts/lobster-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* RESET */
*, 
*::before, 
*::after {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; /*:focus styles have been implemented*/
  font: inherit;
}

/* GENERAL */
:root {
  font-size: 62.5%; /* reset 4 easier sizing w/out impacting text resize */
  --pry-font: 'lobsterregular';
  --sec-font: 'poppins';
  --base-font-size: 1.6rem;
  --base-spacing: 1.25rem;
  --app-width: 30rem;
  --app-height: 64rem;
}

:root[data-theme="light"] {
  --page-bg: #fefefe;
  --page-txt: #333;
  --switch-bg: #666;
  --switch-border: #ddd;
  --open-dialog-btn-border: #666;
  --open-dialog-btn-label-border: #000;
  --calc-bg: #eef;
  --calc-border: #999;
  --calc-shadow: #666;
  --calc-title: #666;
  --display-bg: #fcfcfa;
  --display-border: 0.3rem groove #eee;
  --btn-txt: #000836;
  --btn-focus-border: inset -0.2rem 0 0.3rem #111, inset 0 -0.2rem 0.3rem #111;
  --btn-active-border: #eef;
  --symbtn-bg: #d0d6e9;
  --symbtn-focus-bg: #eee;
  --symbtn-border: #aaa #999 #bbb #aaa;
  --numbtn-bg: #e0e2e9;
  --numbtn-focus-bg: #f1f1f1;
  --numbtn-border: #999 #888 #aaa #999;
  --dialog-bg: #f4f2f2;
  --dialog-border: #ddd;
  --dialog-txt: #011472;
  --dialog-kbd-bg: #eef;
  --dialog-kbd-border: #999;
  --cloz-dialog-btn-border: #333;
  --cloz-dialog-btn-outline: #001320;
}

:root[data-theme="dark"] {
  --page-bg: #030004;
  --page-txt: #ccc;
  --switch-bg: #eef;
  --switch-border: #666;
  --open-dialog-btn-border: #bbb;
  --open-dialog-btn-label-border: #fefefe;
  --calc-bg: #666;
  --calc-border: #444;
  --calc-shadow: #333;
  --calc-title: #eee;
  --display-bg: #2a2f37;
  --display-border: 0.3rem ridge #999;
  --btn-txt: #ddd;
  --btn-focus-border: inset -0.2rem 0 0.3rem #000, inset 0 -0.2rem 0.3rem #000;
  --btn-active-border: #666;
  --symbtn-bg: #00243e;
  --symbtn-focus-bg: #3a5464;
  --symbtn-border: #001320 #013354 #02497a #000f1a;
  --numbtn-bg: #000836;
  --numbtn-focus-bg: #3a4764;
  --numbtn-border: #000624 #010c4c #011472 #000315;
  --dialog-bg: #3a4764;
  --dialog-border: #666;
  --dialog-txt: #ddd;
  --dialog-kbd-bg: #00243e;
  --dialog-kbd-border: #ddd;
  --cloz-dialog-btn-border: #000;
  --cloz-dialog-btn-outline: #ddd;
}

body {
  --h1-font-size: calc(var(--base-font-size) * 1.5);
  line-height: 1.5;
  text-align: center;
  font-family: var(--sec-font, sans-serif);
  color: var(--page-txt);
  background-color: var(--page-bg);
  display: flex;
  justify-content: center;
}

body[data-prevent-scroll] { /* prevents scrolling of bg contents when shtcut-dialog is open */
  overflow-y: hidden;
}

button {
  color: inherit;
  cursor: pointer;
}

button,
kbd {
  line-height: 1;
}

strong {
  font-weight: bold;
}

[hidden] {
  display: none !important;
}

[data-visually-hidden] {
  border: 0;
  clip-path: inset(50%);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.content { /* used div instead of pseudo-element to add class 4 ease of element selection */ 
  width: var(--app-width);
  height: var(--app-height);
  display: flex;
  flex-direction: column;
}

/* HEADER */
/* custom properties aren't inherited by pseudo-elements */
.pg-header, button.theme-toggle::before, button.theme-toggle::after, .toggle-ctrl::before, .toggle-ctrl::after {
  --ctrl-base-size: calc(var(--base-font-size) * 1.5);
}

.pg-header {
  padding: var(--base-spacing) 0;
  font-size: calc(var(--base-font-size) * 0.9);
  position: relative; /* for positioning of keyboard shortcuts button */
}

/* Theme Switch */
button.theme-toggle {
  margin-left: auto;
  position: relative; /* for positioning pseudo-elements for styling */
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

/* button.theme-toggle::before for hover styling, button.theme-toggle::after for focus styling */
[data-theme="light"] button.theme-toggle::before, [data-theme="light"] button.theme-toggle::after, [data-theme="light"] .toggle-ctrl::before, [data-theme="light"] .toggle-ctrl {
  --dark-blue: hsl(207 26% 17%);
  --very-light-gray: hsl(0 0% 100% / 75%);
  --switch-bg: var(--dark-blue);
  --switch-border: var(--very-light-gray);
  --switch-knob-bg: var(--very-light-gray);
  --switch-knob-border: var(--dark-blue);
}

[data-theme="dark"] button.theme-toggle::before, [data-theme="dark"] button.theme-toggle::after, [data-theme="dark"] .toggle-ctrl::before, [data-theme="dark"] .toggle-ctrl {
  --very-light-gray: hsl(0 0% 100% / 75%);
  --dark-gray: hsl(0 0% 40%);
  --switch-bg: var(--very-light-gray);
  --switch-border: var(--dark-gray);
  --switch-knob-bg: var(--dark-gray);
  --switch-knob-border: var(--very-light-gray);
}

/* allows for hover styling distinct from focus styling so focus-visible can be utilized in supporting browsers */
button.theme-toggle::before, button.theme-toggle::after {
  content: "";
  position: absolute;
  /* top and left of auto ensures button pseudo-elements fit over toggle control */
  width: calc(var(--ctrl-base-size) * 2);
  height: var(--ctrl-base-size);
  border-radius: 10000000000000000px; 
  border: 0.2rem solid transparent; /* for contrast themes */
  z-index: 2;
}

button.theme-toggle:hover::before, button.theme-toggle:focus::after {
  border: 0.5rem double var(--switch-border);
}

/* ensures no focus styling from mouse click in browsers that support focus-visible, as hover styling is visible */
button.theme-toggle:focus:not(:focus-visible)::after {
  border: none;
}

.toggle-ctrl {
  width: calc(var(--ctrl-base-size) * 2);
  height: var(--ctrl-base-size);
  flex: 1 0 auto; /* ensures toggle control never shrinks below its base width */
  border-radius: 10000000000000000px; /* hack to produce a perfect pill on rectangular elements */
  background-color: var(--switch-bg);
  transition: background-color 0.4s ease-in-out;
  position: relative; /* for positioning toggle control knob */
}

/* toggle control knob */
.toggle-ctrl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--ctrl-base-size);
  height: var(--ctrl-base-size);
  background-color: var(--switch-knob-bg);
  border: 0.5rem double var(--switch-knob-border);
  border-radius: 50%;
  z-index: 3;
}

button.theme-toggle[aria-pressed="true"] .toggle-ctrl::before {
  transform: translateX(var(--ctrl-base-size));
  transition: transform 0.4s ease-in-out;
}

button.theme-toggle[aria-pressed="false"] .toggle-ctrl::before {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

/* Keyboard Shortcuts */
button.keyboard-shortcuts {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: var(--ctrl-base-size);
  border: 0.2rem solid var(--dialog-border);
  border-radius: 0.3rem;
  padding: 0 calc(var(--base-spacing) * 0.25);
  background-color: var(--dialog-bg);
  font-weight: bold;
  z-index: 3;
  transform: translateY(-50rem);
  transition: transform 0.4s ease-in-out;
}

button.keyboard-shortcuts:focus::before, button.keyboard-shortcuts:focus::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  bottom: 0.1rem;
  width: 0.4rem;
  border-color: currentColor;
  border-top: 0.2rem solid;
  border-bottom: 0.2rem solid;
}

button.keyboard-shortcuts:focus::before {
  left: 0.1rem;
  border-radius: 0.2rem 0 0 0.2rem;
  border-left: 0.2rem solid;
}

button.keyboard-shortcuts:focus::after {
  right: 0.1rem;
  border-radius: 0 0.2rem 0.2rem 0;
  border-right: 0.2rem solid;
}

/* [data-active] ensures keyboard shortcuts button is persistently visible when necessary */
button.keyboard-shortcuts:focus, button.keyboard-shortcuts[data-active] {
  transform: translateY(0);
}

.shtcut-dialog:not([data-open]) {
  display: none;
}

.shtcut-dialog {
  --dialog-spacing: calc(var(--base-spacing) * 0.8);
  position: fixed;
  top: 1rem;
  width: calc(var(--app-width) * 1.05);
  max-height: 100vh;
  border: 0.2rem solid var(--dialog-border);
  padding: var(--dialog-spacing);
  color: var(--dialog-txt);
  background-color: var(--dialog-bg);
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.shtcut-dialog h1 {
  padding: calc(var(--dialog-spacing) * 0.5) 0;
  font-size: var(--h1-font-size);
  font-weight: bold;
}

.shtcut-dialog .txt-wrapper {
  flex: 1 1 auto;
  overflow: auto;
  text-align: left;
  line-height: 1.75;
  font-size: var(--base-font-size);
}

.shtcut-dialog p {
  margin-bottom: var(--dialog-spacing);
}

.shtcut-dialog div {
  padding-left: 0.2rem; /* to allow for checkbox focus styling */
}

.shtcut-dialog .calc-btn {
  font-weight: 700;
  font-family: var(--sec-font, sans-serif);
}

.shtcut-dialog kbd {
  background-color: var(--dialog-kbd-bg);
  border-radius: 0.3rem;
  border: 0.1rem solid var(--dialog-kbd-border);
  box-shadow: 0 0.1rem 0.1rem #000, inset 0 0.1rem 0 #fefefe;
  padding: calc(var(--dialog-spacing) * 0.2) calc(var(--dialog-spacing) * 0.4);
  font-family: revert;
}

.shtcut-dialog button {
  align-self: center;
  margin-top: var(--dialog-spacing);
  border: 0.1rem solid var(--cloz-dialog-btn-border);
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.3rem var(--cloz-dialog-btn-border);
  padding: calc(var(--dialog-spacing) * 0.5);
  color: var(--btn-txt);
  font-size: var(--base-font-size);
  font-weight: bold;
}

.shtcut-dialog button[data-hover], 
.shtcut-dialog button:focus,
.shtcut-dialog input[data-hover], 
.shtcut-dialog input:focus {
  outline: 0.2rem dashed var(--cloz-dialog-btn-outline);
  outline-offset: 0.2rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 4;
}

/* MAIN */
.calculator {
  --calc-border-width: 0.1rem 0.4rem 0.5rem 0.1rem;
  flex: 1 1 0;
  padding: calc(var(--base-spacing) * 1.5);
  background-color: var(--calc-bg);
  border-radius: 2%;
  border-width: var(--calc-border-width);
  border-style: solid inset inset solid;
  border-color: var(--calc-border);
  box-shadow: 0.1rem 0.2rem 0.2rem var(--calc-shadow);
  transform: skew(-1deg, 0.15deg);
  display: flex;
  flex-direction: column;
}

.calculator-title {
  font: bold var(--h1-font-size) var(--pry-font, sans-serif);
  letter-spacing: 0.12rem;
  color: var(--calc-title);
  padding-top: calc(var(--base-spacing) * 0.4);
  padding-bottom: calc(var(--base-spacing) * 0.75);
}

/* Display */
.display {
  flex: 1 1 0;
  border: var(--display-border);
  border-radius: 3.5%;
  background-color: var(--display-bg);
  font-family: var(--pry-font, sans-serif);
  line-height: 1;
  display: flex;
  flex-direction: column;
}

preview-data {
  flex: 2 1 0;
}

output {
  flex: 3 1 0;
}

output [data-visible] {
  --output-font-size: calc(var(--base-font-size) * 3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--base-spacing);
  font-size: var(--output-font-size);
}

/* Keypad */
.keypad {
  flex: 3 1 0;
  transform: skewX(0.15deg);
  padding-top: calc(var(--base-spacing) * 1.5);
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: calc(var(--base-spacing) * 0.4);
}

.keypad [data-key="Reset"] {
  grid-column: span 2;
}

.keypad [data-key="Delete"] {
  grid-column: span 2;
}

.keypad button {
  --keypad-btn-border-width: 0.2rem 0.3rem 0.3rem 0.2rem;
  border-width: var(--keypad-btn-border-width);
  border-style: solid inset outset solid;
  border-radius: 9%;
  color: var(--btn-txt);
  display: flex;
  justify-content: center;
  align-items: center;
}

button[data-operator] {
  border-color: var(--symbtn-border);
  background-color: var(--symbtn-bg);
  font-size: calc(var(--base-font-size) * 1.25);
  font-family: var(--sec-font, sans-serif);
  font-weight: 600;
}

button[data-operand] {
  border-color: var(--numbtn-border);
  background-color: var(--numbtn-bg);
  font-size: calc(var(--base-font-size) * 1.5); 
  font-family: var(--pry-font, sans-serif);
}

.keypad button[data-hover],
.keypad button:focus {
  font-weight: 900;
  box-shadow: var(--btn-focus-border);
  outline: 0.2rem dashed transparent;
  outline-offset: 0.1rem;
}

button[data-operand][data-hover], 
button[data-operand]:focus {
  background-color: var(--numbtn-focus-bg);
}

button[data-operator][data-hover], 
button[data-operator]:focus {
  background-color: var(--symbtn-focus-bg);
}

/* ACCESSIBILITY QUERIES */
@media (prefers-reduced-motion: no-preference) {
  .keypad button[data-active], 
  .keypad button:active {
    border: 0.1rem solid var(--btn-active-border);
  }
}

/* FOOTER */
footer {
  padding-top: var(--base-spacing);
  font-size: calc(var(--base-font-size)* 0.75);
}


@media (min-width: 23.4375em) and (min-height: 48em) { /* mobile phones and budget laptops */
  :root {
    --base-font-size: 2rem;
    --app-width: 36rem;
    --app-height: 76rem;
  }
}

@media (min-width: 48em) and (min-height: 64em) { /* tablets and mainstream laptops */
  :root {
    --base-font-size: 2.4rem;
    --base-spacing: 2.25rem;
    --app-width: 48rem;
    --app-height: 100rem;
  }

  .theme-widget {
    --ctrl-base-size: 3rem;
  }

  button.open-dialog {
    --open-dialog-btn-width: 7.45rem;
    --open-dialog-btn-height: 3.7rem;
    --label-arrow-width: 1.5rem;
    --label-arrow-height: 1rem;
  }
}

@media (min-width: 141em) and (min-height: 90em) { /* high-end laptops and 4K displays */
  :root {
    --base-font-size: 3.2rem;
    --base-spacing: 3rem;
    --app-width: 64rem;
    --app-height: 140rem;
  }

  .theme-widget {
    --ctrl-base-size: 4.2rem;
  }

  button.open-dialog {
    --open-dialog-btn-width: 10.55rem;
    --open-dialog-btn-height: 5.3rem;
    --open-dialog-btn-border-width: 0.2rem;
    --label-arrow-width: 2rem;
    --label-arrow-height: 1.4rem;
  }

  .calculator {
    --calc-border-width: 0.2rem 0.5rem 0.6rem 0.2rem;
  }

  .keypad button {
    --keypad-btn-border-width: 0.2rem 0.5rem 0.5rem 0.2rem;
  }
}
